* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}


/**Head**/
head {
	font-family: 'Montserrat', sans-serif;
	font-weight: bolder;
}

/**Header**/

header h1 {
	font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
}

header h1 span {
    color: #77a466;
}

nav {
    float: right;
    padding: 15px 0;
}

nav ul li{
    display: inline-block;
}

nav ul li a {
    color: #77a466;
    font-family: 'Montserrat', sans-serif;
	font-weight: bolder;
    font-size: 12px;
    padding-left: 32px;
    text-decoration: none;
    text-transform: uppercase;
}

/**Image**/
#image {
	border: 3px solid #77a466;
}

/***Intro Section***/

#intro h2 {
	color: #77a466;
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	text-transform: uppercase;
}

#intro p {
	font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 25px;
}

/***portfolio***/

#portfolio {
	border-top: 1px solid #dedbdc;
	border-bottom: 1px solid #dedbdc;
	height: 183px;
}

#portfolio h3 {
	font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    padding: 7px 0 0 25px;
}

#portfolio p {
    font-size: 17px;
    padding: 0 60px 0 25px;
    text-align: left;
}

#portfolio #specials p {
	color: #77a466;
	font-size: 15px;
	line-height: 30px;
}

#portfolio #review {
	border-left: 1px solid #dedbdc;
	border-right: 1px solid #dedbdc;
	margin-bottom: 0;
}

/**Footer**/

footer {
	font-weight: bolder;
	font-family: 'Montserrat', sans-serif;
	font-weight: bolder;
	padding: 25px;
	text-align: center;
}

footer span {
    color: #77a466;
    font-family: 'Pinyon Script', cursive;
}

footer ul a {
	color: #77a466;
	float: right;
    font-family: 'Gochi Hand', cursive;
    text-decoration: none;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
