.flex-container {
  /*set display to flex and vertically & horizontally align by setting justify-content and align-items to center, and set flex-flow to row wrap*/
display: flex;
justify-content: center;
align-items: center;
flex-flow: row wrap;
justify-content: space-between;
}